/* ********************* OVERALL STYLING ********************* */
* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", Arial, sans-serif;
  background: #121212;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #8c8c8c;
  position: relative;
}

body:after {
  position: fixed;
  top: -150px;
  right: -50px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 600px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

body:before {
  position: fixed;
  top: 500px;
  left: -100px;
  bottom: 0;
  content: "";
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  z-index: -1;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

body.menu-show {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}

a {
  color: #2f89fc;
  text-decoration: none !important;
}

/* ********************* SCROLL TO TOP BUTTON ********************* */
#scroll_top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #121212;
  color: #fff;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#scroll_top:hover {
  background-color: #fff;
  color: #121212;
}

@media (max-width: 768px) {
  #scroll_top {
    display: none;
  }
}


/* ********************* KW CONTAINER ********************* */
/* body .KW_progressContainer {
  left: 0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  overflow: hidden;
  background-color: #121212;
  content: "";
  display: table;
  table-layout: fixed;
  z-index: 999;
}

body .KW_progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index: 99;
  max-width: 100%;
  background-color: #2f89fc;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
} */


/* ********************* NAVIGATION BAR ********************* */
header {
  padding: 2em 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto;
}

@media (max-width: 767.98px) {
  header {
    padding: 2em 0;
    position: absolute;
  }
}

header .navbar-brand .nav-logo {
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 400;
  letter-spacing: 5px;
  padding: 7px;
  display: block;
  text-align: center;
  position: relative;
  padding-left: 62px;
}

header .navbar-brand .nav-logo .logo-img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

header .navbar-brand .nav-logo:hover {
  text-decoration: none !important;
}

header .navbar-brand .nav-logo:active,
header .navbar-brand .nav-logo:focus {
  outline: none;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FFF;
}

.nav-item li {
  list-style-type: none;
}

.nav-item a:hover {
  color: #2f89fc !important;
}

.navbar-collapse {
  background-color: #121212 !important;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

/* Center the navbar-toggler on small screens */
@media (max-width: 767.98px) {
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
  }

  .navbar-collapse .nav-item {
    padding: 1.5rem 1rem !important;
    border-bottom: 1px solid #2c2c2c;
  }
}

.navbar-toggler:focus, .navbar-toggler:active {
  border: none !important;
  outline: none !important;
}


/* ********************* HERO-CAROUSEL ********************* */
.owl-carousel {
  position: relative;
}

.owl-carousel .owl-item {
  opacity: 0.4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 0;
}

.owl-carousel .owl-nav .owl-next {
  right: 0;
}

.owl-carousel .owl-dots {
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}

.owl-carousel .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #ababab;
  border-radius: 50%;
  display: inline-block;
  margin: 5px 7px;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #2f89fc;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
  left: -20px;
}

.owl-carousel:hover .owl-nav .owl-next {
  right: -20px;
}

.owl-carousel.home-slider {
  z-index: 0;
  position: relative;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 0);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #2f89fc;
  opacity: 0;
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item .slider-text .bold-text {
  position: absolute;
  top: -20px;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  font-size: 100px;
  color: rgba(255, 255, 255, 0.08);
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 55px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  display: inline-block;
  position: relative;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 30px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.owl-carousel.home-slider .slider-item .slider-text p a.scroll {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.owl-carousel.home-slider .slider-item .slider-text p strong {
  font-weight: 700;
}

.owl-carousel.home-slider .slider-item .slider-text p strong a {
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
  color: #fff;
}

.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span {
  color: #fff;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
  opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  width: 100%;
  text-align: center;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 50%;
  background: #f8f8f8;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: inline-block;
}

.owl-carousel.home-slider .owl-dots .owl-dot span {
  position: absolute;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50% !important;
  left: 0%;
  top: 2px;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}


/* ********************* ABOUT SECTION ********************* */
.about-section h2 {
  font-weight: 300;
  letter-spacing: 1px;
}

.about-desc p {
  position: relative;
}

@media (max-width: 767.98px) {
  .about-section .author-img {
    display: block;
    height: 300px;
  }
}

.wrap {
  padding: 0;
}

@media (max-width: 767.98px) {
  .wrap {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .wrap .about-desc {
    position: relative;
  }
}

.wrap .about-desc .bold-text {
  position: absolute;
  top: -80px;
  left: -50px;
  right: 0;
  bottom: 0;
  font-weight: 700 !important;
  color: rgba(255, 255, 255, 0.08);
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .wrap .about-desc .bold-text {
    font-size: 10em;
  }
}

@media (max-width: 991.98px) {
  .wrap .about-desc .bold-text {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .wrap .about-desc .bold-text {
    display: none;
  }
}

.profile {
  margin-bottom: 5em;
}

.profile p strong {
  color: #fff;
  font-weight: 400;
}

.exp {
  width: 100%;
  float: left;
  margin-bottom: 3em;
}

.exp-wrap {
  width: 100%;
  border-bottom: 1px solid #1a1a1a;
  float: left;
}

.exp-wrap .desc,
.exp-wrap .year {
  float: left;
}

.exp-wrap .desc {
  width: calc(100% - 150px);
}

.exp-wrap .desc h4 span {
  color: #8c8c8c;
  font-weight: 300;
}

.exp-wrap .desc .location {
  margin-bottom: 0;
}

.exp-wrap .year {
  width: 150px;
}

.progress-wrap {
  margin-bottom: 30px;
}

.progress-wrap h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.progress {
  height: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #1f1f1f;
  overflow: visible;
  border-radius: 0;
}

.progress-bar {
  background: #2f89fc;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 1.2;
  color: #121212;
  font-weight: 400;
  text-align: right;
  position: relative;
  overflow: visible;
  border-radius: 30px;
}

.progress-bar:after {
  position: absolute;
  top: -3px;
  right: 0;
  width: 10px;
  height: 10px;
  content: "";
  background: #2f89fc;
  border-radius: 50%;
}

.progress-bar span {
  position: absolute;
  top: -34px;
  right: 0;
  color: #6c757d;
}

.progress-bar.color-1 {
  background: #2f89fc;
}

.progress-bar.color-1:after {
  background: #2f89fc;
}


/* ********************* SERVICES SECTION ********************* */
.services {
  position: relative;
}

.services .icon span {
  position: relative;
  color: #2f89fc;
  font-size: 40px;
  z-index: 0;
  line-height: 1.5;
}

.services .media-body .heading {
  font-size: 20px;
}

.form-group label {
  color: #fff;
}

.form-control {
  height: 52px !important;
  background: transparent !important;
  color: #858585 !important;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #2c2c2c;
}

.form-control:focus,
.form-control:active {
  border-color: #4d4d4d;
}

textarea.form-control {
  height: inherit !important;
}

.ftco-vh-100 {
  height: 100vh;
}

@media (max-width: 1199.98px) {
  .ftco-vh-100 {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.ftco-vh-75 {
  height: 75vh;
  min-height: 700px;
}

@media (max-width: 1199.98px) {
  .ftco-vh-75 {
    min-height: 700px;
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.ftco-tab-nav {
  padding: 0;
  margin: 0;
  display: inline-block !important;
}

@media (max-width: 767.98px) {
  .ftco-tab-nav {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.ftco-tab-nav li {
  padding: 0;
  margin: 0 5px;
  display: inline-block !important;
}

@media (max-width: 767.98px) {
  .ftco-tab-nav li {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
}

.ftco-tab-nav li a {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 0 !important;
}

.ftco-tab-nav li a.active {
  background: none !important;
  color: black !important;
  border: 2px solid #121212;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.bg-primary {
  background: #2f89fc !important;
}

.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #d4d4d4;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.media-custom {
  background: #fff;
}

.media-custom .media-body .name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  color: #2f89fc;
}

.media-custom .media-body .position {
  font-size: 13px;
  color: #ebebeb;
}

.about-author img {
  border-radius: 50%;
}

.ftco-section {
  padding: 10% 0;
}

/* Tablet (width less than 992px) */
@media (max-width: 991.98px) {
  .ftco-section {
    padding: 20% 0;
  }
}

/* Phone (width less than 768px) */
@media (max-width: 767.98px) {
  .ftco-section {
    padding: 18% 0;
  }
}

@media (max-width: 426px) {
  .ftco-section {
    padding: 25% 0;
  }
}

@media (max-width: 376px) {
  .ftco-section {
    padding: 47% 0;
  }
}

.ftco-bg-dark {
  background: #3c312e;
}

.ftco-footer {
  font-size: 18px;
  background: #121212;
  padding: 1em 0;
}

.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.ftco-footer .ftco-footer-widget h2,
.ftco-footer .ftco-footer-widget h4 {
  font-weight: normal;
  color: rgba(255, 255, 255, 0.9);
}

.ftco-footer .ftco-footer-widget .email a {
  color: #fff;
}

.ftco-footer .ftco-footer-widget h2 {
  font-weight: 700;
}

.ftco-footer p {
  color: rgba(255, 255, 255, 0.5);
}

.ftco-footer a {
  color: rgba(255, 255, 255, 0.5);
}

.ftco-footer a:hover {
  color: #fff;
}

.ftco-footer .ftco-heading {
  font-size: 24px;
}

.ftco-footer .ftco-heading-2 {
  font-size: 18px;
  font-weight: bold;
  color: #121212;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 10px 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 60px;
  width: 60px;
  display: block;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

/* Tablet (width less than 992px) */
@media (max-width: 991.98px) {
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
  }

  .ftco-footer-social li a span {
    font-size: 22px;
  }
}

/* Phone (width less than 768px) */
@media (max-width: 767.98px) {
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
  }

  .ftco-footer-social li a span {
    font-size: 18px;
  }
}

.footer-small-nav > li {
  display: inline-block;
}

.footer-small-nav > li a {
  margin: 0 10px 10px 0;
}

.footer-small-nav > li a:hover,
.footer-small-nav > li a:focus {
  color: #2f89fc;
}

.media .ftco-icon {
  width: 100px;
}

.media .ftco-icon span {
  color: #2f89fc;
}

.ftco-media {
  background: #fff;
  border-radius: 0px;
}

.ftco-media .heading {
  font-weight: normal;
}

.ftco-media.ftco-media-shadow {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  transition: 0.2s all ease;
  position: relative;
  top: 0;
}

.ftco-media.ftco-media-shadow:hover,
.ftco-media.ftco-media-shadow:focus {
  top: -3px;
  -webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
}

.ftco-media .icon {
  font-size: 50px;
  display: block;
  color: #2f89fc;
}

.ftco-media.text-center .ftco-icon {
  margin: 0 auto;
}

.ftco-overflow-hidden {
  overflow: hidden;
}

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

#map {
  height: 400px;
  width: 100%;
}

@media (max-width: 991.98px) {
  #map {
    height: 300px;
  }
}

.heading-section span {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.heading-section h2 {
  font-weight: 700;
  font-size: 40px;
}

.img,
.author-img,
.logo-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.ftco-counter .text {
  display: block;
  width: 100%;
}

.ftco-counter .text strong.number {
  font-weight: 400;
  font-size: 180px;
  color: #2f89fc;
}

@media (max-width: 767.98px) {
  .ftco-counter .text strong.number {
    font-size: 80px;
  }
}

@media (max-width: 767.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 20px;
    padding-left: 4em;
  }
}

.ftco-counter .ftco-label {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  position: relative;
  display: block;
}

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}

.blog-entry .text {
  position: relative;
  border-top: 0;
  border-radius: 2px;
}

.blog-entry .text .heading {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 500;
}

.blog-entry .text .heading a {
  color: #fff;
}

.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
  color: #2f89fc;
}

.blog-entry .meta > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.blog-entry .meta > div a {
  font-size: 15px;
  color: #8c8c8c;
}

.block-6 {
  margin-bottom: 40px;
  display: block;
  width: 100%;
}

.block-6 .icon span:before {
  font-size: 60px;
}

.block-6 .media-body p {
  font-size: 16px;
}

.block-18 .icon > span {
  font-size: 40px;
}

.block-18 .text strong {
  font-size: 30px;
}

.block-18 .text span {
  display: block;
}

.block-27 ul {
  padding: 0;
  margin: 0;
}

.block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
}

.block-27 ul li a,
.block-27 ul li span {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #2c2c2c;
}

.block-27 ul li.active a,
.block-27 ul li.active span {
  background: #2f89fc;
  color: #fff;
  border: 1px solid transparent;
}

.block-7 {
  margin-bottom: 30px;
  padding: 30px;
  -webkit-box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.11);
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.11);
  background: #fff;
}

@media (min-width: 768px) {
  .block-7 {
    padding: 40px;
  }
}

.block-7 .heading {
  font-size: 50px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.block-7 .heading-2 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.block-7 .price {
  margin: 0;
  padding: 0;
  display: block;
}

.block-7 .price sup {
  font-size: 20px;
  top: -2em;
}

.block-7 .price .number {
  font-size: 80px;
}

.block-7 .excerpt {
  margin-bottom: 20px;
  color: #b3b3b3;
}

.block-7 .label2 {
  text-transform: uppercase;
}

.block-7 .pricing-text {
  margin-bottom: 0;
}

.block-7 .pricing-text,
.block-7 .pricing-text li {
  padding: 0;
  margin: 0;
}

.block-7 .pricing-text li {
  list-style: none;
  margin-bottom: 10px;
  color: #b3b3b3;
}

.block-7 .pricing-text li strong {
  color: #121212;
}

.block-8 .accordion-item .heading {
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

.block-8 .accordion-item .heading > a {
  padding-left: 35px;
  position: relative;
  color: #121212;
}

.block-8 .accordion-item .heading > a:before {
  width: 20px;
  height: 20px;
  line-height: 18px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  top: 0.1em;
  left: 0;
}

.block-8 .accordion-item .heading > a[aria-expanded="true"]:before {
  font-family: "icomoon";
  position: absolute;
  content: "\e316";
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #2f89fc;
  color: #fff;
  border: 1px solid #2f89fc;
}

.block-8 .accordion-item .heading > a[aria-expanded="false"]:before {
  content: "\e313";
  color: #ccc;
  font-family: "icomoon";
  position: absolute;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.block-8 .accordion-item .body-text {
  font-size: 16px;
  padding: 5px 0;
  padding-left: 30px;
}

.block-4 .nonloop .owl-stage {
  padding-bottom: 2em;
}

.block-4 .nonloop .owl-item {
  -webkit-box-shadow: 0 7px 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 20px -5px rgba(0, 0, 0, 0.2);
}

.block-4 .nonloop .owl-nav {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: -2px;
}

.block-4 .nonloop .owl-nav .owl-prev,
.block-4 .nonloop .owl-nav .owl-next {
  opacity: 0.2;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: absolute;
}

.block-4 .nonloop .owl-nav .owl-prev:hover,
.block-4 .nonloop .owl-nav .owl-next:hover {
  opacity: 1;
}

.block-4 .nonloop .owl-nav .owl-prev.disabled,
.block-4 .nonloop .owl-nav .owl-next.disabled {
  display: none;
}

.block-4 .nonloop .owl-nav .owl-prev span,
.block-4 .nonloop .owl-nav .owl-next span {
  font-size: 30px;
}

.block-4 .nonloop .owl-nav .owl-prev {
  left: 50px;
}

.block-4 .nonloop .owl-nav .owl-next {
  right: 50px;
}

.block-4 .nonloop .owl-dots {
  bottom: -40px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.block-4 .nonloop .owl-dots .owl-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.block-4 .nonloop .owl-dots .owl-dot.active {
  background: #2f89fc;
}

.contact-section .contact-info p a {
  color: #2f89fc;
}

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}

.block-3 .image {
  width: 100%;
  padding: 10% 7%;
}

@media (min-width: 768px) {
  .block-3 .image {
    width: 40%;
    padding: 10% 7%;
  }
}

.block-3 .image .icon {
  width: 100px;
  height: 100px;
  background: #2f89fc;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  .block-3 .image .icon {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.block-3 .image .icon span {
  color: #fff;
}

.block-3 .image:hover .icon {
  opacity: 1;
}

.block-3 .image {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 767.98px) {
  .block-3 .image {
    height: 300px;
  }
}

.block-3 .text {
  width: 100%;
  padding: 7% 7%;
}

@media (min-width: 768px) {
  .block-3 .text {
    width: 60%;
    padding: 7% 7%;
  }
}

.block-3 .text .subheading {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #8c8c8c;
}

.block-3 .text .heading {
  font-size: 30px;
  margin-bottom: 30px;
}

.block-3 .text .heading a {
  color: #fff;
}

.block-3 .text p:last-child {
  margin-bottom: 0;
}

.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.custom-pagination li {
  display: inline-block;
}

.custom-pagination .prev a,
.custom-pagination .next a {
  font-size: 20px !important;
  line-height: 38px !important;
}

.custom-pagination li a,
.custom-pagination .prev a,
.custom-pagination .next a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
}

.custom-pagination li.active a,
.custom-pagination .prev.active a,
.custom-pagination .next.active a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 0;
  border-radius: 50% !important;
  font-size: 16px;
  background: #2f89fc;
  color: #fff;
}

.custom-pagination li.active a:hover,
.custom-pagination li.active a:focus,
.custom-pagination .prev.active a:hover,
.custom-pagination .prev.active a:focus,
.custom-pagination .next.active a:hover,
.custom-pagination .next.active a:focus {
  color: #fff;
}

.custom-pagination .prev {
  float: left;
}

.custom-pagination .next {
  float: right;
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
}

.post-info > div {
  display: inline-block;
}

.post-info > div .seperator {
  display: inline-block;
  margin: 0 10px;
  opacity: 0.5;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #2c2c2c;
  font-size: 11px;
}

.tagcloud a:hover {
  border: 1px solid #000;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #1f1f1f;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.1em;
  font-weight: 400;
  border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
  color: #fff;
  background: #121212;
}

.search-form {
  background: #c5c5c5;
  padding: 10px;
}

.search-form .form-group {
  position: relative;
}

.search-form .form-group input {
  padding-right: 50px;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.categories li a,
.sidelink li a {
  display: block;
}

.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
}

.categories li.active a,
.sidelink li.active a {
  color: #121212;
  font-style: italic;
}

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #000000;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ftco-loader.show {
  -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

/* ------------------------------- PORTFOLIO SECTION ------------------------------- */
#portfolio-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

#portfolio-button-container .btn {
  margin: 0;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  padding: 6px 12px;
  font-size: 18px;
}

#portfolio-button-container .btn:hover {
  color: #2f89fc;
}

#portfolio-button-container .btn-primary.active,
#portfolio-button-container .btn-primary:focus {
  border: none !important;
  outline: none !important;
  color: #2f89fc !important;
}

.portfolio-item {
  display: none;
  padding: 2% 1%;
}

.portfolio-item.show {
  display: inline;
  justify-content: center !important;
}

.portfolio-link {
  display: block;
  position: relative;
  width: 100%;
  max-width: 300px;
  text-decoration: none;
  color: inherit;
}

.portfolio-card {
  width: 100%;
  height: 320px;
  background: url("../images/author-1.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.proj_1 {
  background: url("../images/schunt.png") no-repeat center center;
  background-size: cover !important;
}

.proj_2 {
  background: url("../images/objectrecognition.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_3 {
  background: url("../images/minerr.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_4 {
  background: url("../images/crashinsights.png") no-repeat center center;
  background-size: cover !important;
}

.proj_5 {
  background: url("../images/technorax.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_6 {
  background: url("../images/medconnect.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_7 {
  background: url("../images/portfoliodesign.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_8 {
  background: url("../images/work-logos.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_9 {
  background: url("../images/work-ieeelink.png") no-repeat center center;
  background-size: cover !important;
}

.proj_10 {
  background: url("../images/work-yummunch.png") no-repeat center center;
  background-size: cover !important;
}

.proj_11 {
  background: url("../images/ortho.jpg") no-repeat center center;
  background-size: cover !important;
}

.proj_12 {
  background: url("../images/edaon911.png") no-repeat center center;
  background-size: cover !important;
}

.rp_1 {
  background: url("../images/objectrp.png") no-repeat center center;
  background-size: cover !important;
}

.rp_2 {
  background: url("../images/fakereviewsrp.png") no-repeat center center;
  background-size: cover !important;
}

.rp_3 {
  background: url("../images/advancedbankrp.png") no-repeat center center;
  background-size: cover !important;
}

.rp_4 {
  background: url("../images/filetrackrp.png") no-repeat center center;
  background-size: cover !important;
}

.blog_2 {
  background: url("../images/readmeblog.png") no-repeat center center;
  background-size: cover !important;
}

.blog_3 {
  background: url("../images/probindsblog.png") no-repeat center center;
  background-size: cover !important;
}

.portfolio-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.portfolio-link:hover .portfolio-hover-content {
  opacity: 1;
}

.portfolio-hover-content p {
  margin: 0;
}

.portfolio-hover-content hr {
  width: 50%;
  border-color: white;
  margin: 10px auto;
}

.explanation_portfolio {
  margin-top: 10px;
}

@media (max-width: 992px) {
  .portfolio-hover-content p {
    font-size: 16px;
  }

  .portfolio-hover-content h4 {
    font-size: 20px;
  }

  .portfolio-item {
    padding: 2% 2%;
    max-width: 48%;
  }
}

@media (max-width: 768px) {
  .portfolio-hover-content p {
    font-size: 14px;
  }

  .portfolio-hover-content h4 {
    font-size: 18px;
  }

  .portfolio-item {
    padding: 2% 1%;
    max-width: 100%;
  }
}
